
    
 <app-carousel></app-carousel> 
    
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let room of rooms">
        <div class="card h-100" >
          <img class="card-img-top" src="{{ room.ImageURL }}" height="150px" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ room.Title }}</h5>
            <p class="card-text"> <b> {{ room.PriceHour }} DKK / Hour </b>  </p>
            <p class="card-text">(Time Schedule: {{ room.StartProgram }}:00 - {{ room.EndProgram }}:00) </p>
          </div>
          <div class="card-footer">
            <a (click)="redirectToAngularCalendar(room)"  style="color:#fff; cursor: pointer;" class="btn btn-primary">Check Time Slots</a>
          </div>
        </div>
      </div>
    </div>
